.tips {
    margin: 10px;
    table {
        width: 100%;
    }
    
    .mat-form-field {
        font-size: 14px;
        width: 100%;
    }
    button {
        margin: 10px 0;
        width: 100px;
    }
}
.small {
    width: 8% ;
}
.big {
    width: 76%;
}
