.country-city {
    display: flex;
    .block {
        margin: 10px;
        width: calc(50% - 40px);
    }
    .create {
        float: right;
    }
    table {
        width: 100%;
    }
    
    .mat-form-field {
        font-size: 14px;
        width: 100%;
    }
    
    td, th {
        width: 25%;
    }
}