<div class="container place">
  <button mat-raised-button color="primary" (click)="goBack()" class="btn btn-primary">Back</button>
  <mat-card class="main-card" *ngIf="model">
    <mat-card-content>
      <div class="main-info">
        <div class="block">
          <p>Name: {{model.name}}</p>
          <p>Description: {{model.description}}</p>
          <p>Coords: {{model.coords && model.coords[0].lat}} {{model.coords && model.coords[0].lng}}</p>
          <agm-map [latitude]="model.coords && model.coords[0].lat" [longitude]="model.coords && model.coords[0].lng" [zoom]="10" (mapClick)="placeMarker($event)">
            <agm-marker [latitude]="model.coords && model.coords[0].lat" [longitude]="model.coords && model.coords[0].lng" [label]="'M'">
            </agm-marker>
          </agm-map>
        </div>
        <div class="block">
          <img class="header-image" *ngFor="let image of model.images" src="{{image}}">
        </div>
        </div>
    </mat-card-content>
  </mat-card>
</div>
